@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Raleway");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h3 {
  color: blue;
}

p {
  color: #000;
}

.page-wrap {
  width: 100%;
  padding: 4em 0 0;
  margin: 4em 0;
  background-color: #000000;
  display: fixed;
}

body {
  background-color: #fff;
  max-width: 100%;
}

h2 {
  color: #000;
  font-family: "Averia Serif Libre", serif;
  font-size: 300%;
  text-align: center;
  padding: 1em;
}

.content-static p {
  padding: 1em 10%;
  color: #000;
  line-height: 0.5;
  font-family: "Raleway", sans-serif;
}

main {
  background-image: url("../../images/comb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

header {
  background-color: #000;
  padding: 2em 2em 0em;
  margin: auto;
}

img.logo-head {
  display: block;
  width: 30%;
  height: 30%;
  margin: auto;
}

.logo img {
  display: block;
  width: 45%;
  height: 45%;
  margin: auto;
}

.nav {
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  color: #fff;
  font-weight: normal;
}

.nav {
  ul {
  padding-top: 2em;
  padding-bottom: 0em;
  display: block;
  text-align: center;
  }

  li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2.5em;
  padding: 0.75em 0em;
  }

  a {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5rem;
  text-decoration: none;
  }

  a:hover {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.7rem;
  text-decoration: none;
  }
}

footer {
  background-color: #000;
  padding-bottom: 2em;
}

img.product {
  width: 30%;
}

#gallery-1 {
  padding: 2em 5%;
}
